{% load static %}
<section class="bg-white border-b py-8">
    <div class="flex flex-wrap justify-center text-center mb-24">
      <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
        Our team
      </h1>
      <div class="w-full mb-4">
        <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
      </div>
      
      <div class="flex flex-wrap content-center">
        <div class="w-full md:w-6/12 lg:w-5/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="{% static 'images/team/apache3.jpg' %}"
              class="shadow-lg rounded-full max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-sm font-bold text-black">DONGMO (APACHE)</h5>
              <p class="mt-1 text-xs text-gray-500 uppercase font-semibold">
                Datascientist, fullstack developper, NLP enthousias, solution provider, project manager
              </p>
              <div class="mt-6">
                <button
                  class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-twitter"></i></button
                ><button
                  class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-facebook-f"></i></button
                ><button
                  class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-dribbble"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-5/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="{% static 'images/team/fonkou.jpg' %}"
              class="shadow-lg rounded-full max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-sm font-bold text-black">Fonkou ervert(Kaido)</h5>
              <p class="mt-1 text-xs text-gray-500 uppercase font-semibold">
                Data scientist,expert of  Financial Fraud, SI manager
              </p>
              <div class="mt-6">
                <button
                  class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-google"></i></button
                ><button
                  class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-facebook-f"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>