{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {{ title }}
    </title>
    <meta name="description" content="Reaorgornize automaticaly images in differents folder with our models" />
    <meta name="keywords" content="" />
    <meta name="author" content="DONGMO NZOIYEM FRANKLIN, TAGNE FONKOU Hervert" />
    {% include "includes/css_js.html" %}
  </head>
  <body class="leading-normal tracking-normal text-white" style="font-family: 'Source Sans Pro', sans-serif;">
    {% include "includes/header.html" %}
        {% block content %}
        
        {% endblock content %}
    {% include "includes/footer.html" %}

     <!--loader for my form-->
<div id='pageloader'>
  <div class="preloader-wrapper small active bg-blue">
    <div class="lds-ripple"><div></div><div></div></div>
  </div>
</div>
<!--end loader -->
  </body>
</html>
